<h1>Automorphs#view</h1>
<p>Find me in app/views/automorphs/view.html.erb</p>
<table>
<p id="result">
<table>
<tr><td>n</td><td>n<sup>2</sup></td></tr>

<% @result.each do |elem| %>
    <tr>
        <td><%= elem%></td>
        <td><%= elem**2%></td>
    </tr>
<% end %>

</table>
</p> 
<%= link_to "Search in other range", :automorphs_input %>